.wrapper {
    display: inline-block;
    justify-content: center;
    width: var(--default-layout-home-width);
    height: 750px; //auto
}
.image {
    //display: block;
    width: 100%;
    height: 100%;
}
