.wrapper {
    display: flex;
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-home-width);
    min-height: 850px;
    text-align: center;
    flex-direction: column;
}

.title {
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.form-group {
    height: 50px;
    margin: 40px;
}

.form-control {
    background: #f1f3f7;
    border: #ccc solid 1px;
    box-shadow: none !important;
    height: auto;
    padding-right: 200px;
    padding-left: 20px;
    height: 56px;
    width: 503px;
    font-size: 1em;
    font-weight: 500;
}
.error {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 4px;
}
.btn-login {
    margin-top: 70px;
}
