.wrapper {
    display: flex;
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-home-width);
    min-height: 750px;
    text-align: center;
    flex-direction: column;
}

.title {
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}
.form-login {
}

.form-group {
    height: 50px;
    margin: 40px;
}
.loading {
    width: 30px;
    height: 30px;
    // position: absolute;
    // right: calc(var(--search-button-width) + 16px);
    // top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
    cursor: pointer;
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.form-control {
    background: #f1f3f7;
    border: #ccc solid 1px;
    box-shadow: none !important;
    height: auto;
    padding-right: 200px;
    padding-left: 20px;
    height: 56px;
    width: 503px;
    font-size: 1em;
    font-weight: 500;
}
.error {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 4px;
}
.btn-login {
    margin-top: 30px;
}
