.wrapper {
    display: flex;
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-home-width);
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    margin-bottom: 100px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-title);
    font-weight: 500;
    font-size: 3rem;
    margin-top: 40px;
    margin-bottom: 6px;
}
.desc {
    font-size: 1.9rem;
}
.list-item {
    display: flex;
    width: var(--default-layout-home-width);
    flex-wrap: wrap;
    justify-content: center;
}
