.wrapper {
    display: flex;
    margin-top: var(--default-layout-header-height);
    width: var(--default-layout-home-width);
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.branch-item {
    margin: 30px 57px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-decoration: none;
    color: #000;
    &:active {
        color: #000;
    }
}
